In [6]:
import pandas as pd

In [7]:
columns = ['ID', 'Age', 'Gender', 'Education', 'Country', 'Ethnicity', 'Nscore',
              'Escore', 'Oscore', 'Ascore', 'Cscore', 'Impulsive', 'SS', 'Alcohol',
              'Amphet', 'Amyl', 'Benzos', 'Caff', 'Cannabis', 'Choc', 'Coke', 'Crack', 'Ecstasy',
              'Heroin', 'Ketamine', 'Legalh', 'LSD', 'Meth', 'Mushrooms', 'Nicotine',
              'Semer', 'VSA']

In [8]:
len(columns)

32

In [10]:
path = '../raw_data/drug_consumption.csv'
df = pd.read_csv(path, names=columns)
df.head()

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
1,1,0.49788000000000004,0.48246000000000006,-0.059210000000000006,0.9608200000000001,0.126,0.31287,-0.57545,-0.58331,-0.91699,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
2,2,-0.07854,-0.48246000000000006,1.98437,0.9608200000000001,-0.31685,-0.67825,1.9388599999999998,1.43533,0.7609600000000001,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
3,3,0.49788000000000004,-0.48246000000000006,-0.059210000000000006,0.9608200000000001,-0.31685,-0.46725,0.80523,-0.8473200000000001,-1.6209,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
4,4,-0.9519700000000001,0.48246000000000006,1.16365,0.9608200000000001,-0.31685,-0.14882,-0.80615,-0.019280000000000002,0.59042,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0

In [5]:
df.to_csv(path_or_buf='../write_data/drug_consumption.csv', index=False)

NameError: name 'df' is not defined

In [21]:
pd.read_csv('../write_data/drug_consumption.csv').head()

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,1,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
1,2,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
2,3,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
3,4,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
4,5,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0

In [11]:
df['CL0.12'].value_counts()

KeyError: 'CL0.12'

In [3]:
from random_forest_model import bag_model

In [13]:
bag_model(df, 'Crack', 2, 20)

ValueError: could not convert string to float: 'CL5'